body {
    background: #000 url('../images/bg_lines_pattern.png');
}

#container {
    height: 600px;
    width: 0;
    cursor: move;
    position: absolute;
    top: 20px;
    left: 0;
    -webkit-transition: all 0;
    -moz-transition: all 0;
}

div.shotsGroup {
    height: 600px;
    float: left;
}

body {
    overflow: hidden;
}

div.shot {
    width: 400px;
    height: 300px;
    position: relative;
    float: left;
}

div.shot div.preloader {
    margin: 0;
    width: 400px;
    height: 300px;
    background: #505050;
}

div.shot img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    z-index: 2;
}

div.shot div.buttons {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
}